@{
    ViewData["Title"] = "Home Page";
}

<div class="accueil text-center">
    <h1 class="titreindex display-4">NEGOSUD</h1>
    <img src="~/images/LogoNegoSudTerre.png"/>
</div>




@* Lien temporaire: enregistrer *@
<li>
	<a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="login">Login Client</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Clients" asp-action="Create">Enregistrer Client</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Clients" asp-action="Edit/1">Mon profil + (anonymisation en cours)</a>
</li>

