@{
    ViewData["Title"] = "Politique de confidentialité";
}
<h1>@ViewData["Title"]</h1>


<p><h2>Dernière mise à jour : 21/02/2024</h2></p>

<p><h3>Votre vie privée est importante pour nous.</h3></p>
    Cette Politique de confidentialité explique quelles données personnelles nous collectons auprès de vous lorsque vous utilisez notre site web Negosud, comment nous utilisons, partageons et protégeons ces données, ainsi que vos droits concernant ces informations.

<p>En utilisant notre site web, vous consentez à la collecte et à l'utilisation de vos données personnelles telles que décrites dans cette Politique de confidentialité.</p>

<p><h3>Collecte et Utilisation des Données Personnelles</h3></p>
    Nous collectons divers types de données personnelles lorsque vous interagissez avec notre site web, y compris, mais sans s'y limiter, les informations que vous fournissez volontairement lors de la création d'un compte, de la passation de commandes, de la communication avec notre service clientèle ou de l'inscription à notre newsletter. Ces données peuvent inclure votre nom, adresse e-mail, adresse de livraison, numéro de téléphone, informations de paiement, préférences de produit, historique d'achat, etc.</p>

<p>Nous utilisons vos données personnelles pour traiter vos commandes, répondre à vos demandes, vous fournir un service clientèle efficace, personnaliser votre expérience sur notre site web, vous envoyer des communications marketing si vous y avez consenti, vous informer des mises à jour de notre politique ou des changements dans nos services, ainsi que pour nous conformer à nos obligations légales.</p>

<p><h3>Partage des Données Personnelles</h3></p>
<p>Nous ne vendons pas, n'échangeons pas et ne louons pas vos données personnelles à des tiers à des fins commerciales. Cependant, nous pouvons partager vos informations avec des prestataires de services tiers qui nous aident à exploiter notre site web ou à fournir des services en notre nom, tels que les services de paiement, les services de livraison, les services de marketing, etc. Nous exigeons de ces tiers qu'ils maintiennent la confidentialité de vos données personnelles et qu'ils ne les utilisent que pour fournir les services pour lesquels ils sont engagés.</p>

<p>Nous pouvons également divulguer vos données personnelles si la loi l'exige ou si nous croyons de bonne foi que cette divulgation est nécessaire pour protéger nos droits, notre sécurité ou notre propriété, ou pour se conformer à une procédure judiciaire ou à une demande gouvernementale.</p>

<p><h3>Stockage et Sécurité des Données</h3></p>
<p>Nous prenons des mesures raisonnables pour protéger vos données personnelles contre la perte, l'utilisation abusive, l'accès non autorisé, la divulgation, l'altération ou la destruction. Cependant, veuillez noter qu'aucune méthode de transmission sur Internet ou de stockage électronique n'est sécurisée à 100 %, et nous ne pouvons garantir la sécurité absolue de vos données personnelles.</p>

<p>Vos Droits Concernant Vos Données Personnelles</p>
<p>Vous avez le droit d'accéder à vos données personnelles que nous détenons et de demander une copie de ces données. Vous avez également le droit de corriger, de mettre à jour ou de supprimer vos données personnelles si elles sont inexactes, incomplètes ou obsolètes. De plus, vous pouvez choisir de limiter ou de vous opposer au traitement de vos données personnelles dans certaines circonstances, notamment pour le marketing direct.</p>

<p>Pour exercer vos droits concernant vos données personnelles, veuillez nous contacter à l'adresse électronique suivante : negosud@contact.com</p>

<p>Modifications de cette Politique de Confidentialité</p>
<p>Nous nous réservons le droit de modifier cette Politique de confidentialité à tout moment. Toute modification sera publiée sur cette page avec une date de mise à jour révisée. Nous vous encourageons à consulter régulièrement cette page pour rester informé de tout changement.</p>

<p><h3>Consentement</h3></p>
<p>En utilisant notre site web, vous consentez à cette Politique de confidentialité.</p>

<p>Si vous avez des questions ou des préoccupations concernant notre Politique de confidentialité, veuillez nous contacter à l'adresse électronique suivante : negosud@contact.com</p>
