
    <table class="table mmt-5">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Quantité</th>
                <th>Prix</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Les Grappes Clos Lapeyre</td>
                <td>5</td>
                <td>10.50</td>
            <td><button type="button" class="btn btn-danger">Supprimer</button></td>
            </tr>
            <tr>
                <td>Gev Vendandes tardives 	Gewurtztraminer</td>
                <td>3</td>
                <td>15.70</td>
            <td><button type="button" class="btn btn-danger">Supprimer</button></td>
            </tr>
            <tr>
                <td>Valto Beauregard</td>
                <td>12</td>
                <td>9.30</td>
            <td><button type="button" class="btn btn-danger">Supprimer</button></td>
            </tr>
        </tbody>
        <tfoot>
            <trt>
                <td>Prix Total</td>
                <td></td>
                <td>550 €</td>

            </trt>
        </tfoot>
        
    </table>
