@model Negosud.Class.Client

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Client</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomClient" class="control-label"></label>
                <input asp-for="NomClient" class="form-control" />
                <span asp-validation-for="NomClient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrenomClient" class="control-label"></label>
                <input asp-for="PrenomClient" class="form-control" />
                <span asp-validation-for="PrenomClient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdresseClient" class="control-label"></label>
                <input asp-for="AdresseClient" class="form-control" />
                <span asp-validation-for="AdresseClient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VilleClient" class="control-label"></label>
                <input asp-for="VilleClient" class="form-control" />
                <span asp-validation-for="VilleClient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodePostalClient" class="control-label"></label>
                <input asp-for="CodePostalClient" class="form-control" />
                <span asp-validation-for="CodePostalClient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaysClient" class="control-label"></label>
                <input asp-for="PaysClient" class="form-control" />
                <span asp-validation-for="PaysClient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelephoneClient" class="control-label"></label>
                <input asp-for="TelephoneClient" class="form-control" />
                <span asp-validation-for="TelephoneClient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailClient" class="control-label"></label>
                <input asp-for="EmailClient" class="form-control" />
                <span asp-validation-for="EmailClient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
