@model Negosud.Class.Client

@{
    ViewData["Title"] = "Create";
}

<h1>S'enregistrer</h1>

<hr />
<div class="row">
    <div class="col-md-4 container m-auto">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="d-flex gap-5">
				<div class="form-group">
					<label asp-for="NomClient" class="control-label"></label>
					<input asp-for="NomClient" class="form-control" />
					<span asp-validation-for="NomClient" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="PrenomClient" class="control-label"></label>
					<input asp-for="PrenomClient" class="form-control" />
					<span asp-validation-for="PrenomClient" class="text-danger"></span>
				</div>
            </div>

            <div class="form-group  pt-4">
                <label asp-for="AdresseClient" class="control-label"></label>
                <input asp-for="AdresseClient" class="form-control" />
                <span asp-validation-for="AdresseClient" class="text-danger"></span>
            </div>

            <div class="d-flex gap-5">
                <div class="form-group">
                    <label asp-for="VilleClient" class="control-label"></label>
                    <input asp-for="VilleClient" class="form-control" />
                    <span asp-validation-for="VilleClient" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CodePostalClient" class="control-label"></label>
                    <input asp-for="CodePostalClient" class="form-control" />
                    <span asp-validation-for="CodePostalClient" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="PaysClient" class="control-label"></label>
                <input asp-for="PaysClient" class="form-control" />
                <span asp-validation-for="PaysClient" class="text-danger"></span>
            </div>

	        <div class="form-group pt-4">
		        <label asp-for="TelephoneClient" class="control-label"></label>
		        <input asp-for="TelephoneClient" class="form-control" />
		        <span asp-validation-for="TelephoneClient" class="text-danger"></span>
	        </div>
	        <div class="form-group">
		        <label asp-for="EmailClient" class="control-label"></label>
		        <input asp-for="EmailClient" class="form-control" />
		        <span asp-validation-for="EmailClient" class="text-danger"></span>
	        </div>


            <div class="form-group pt-3">
                <input type="submit" value="Créer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
